<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'DataProcessing/css/calculator.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<div class="toolbox-calculator" id="calculator-114514">
    <script type="module">
        import {Calculator} from "{% static 'DataProcessing/js/dist.js' %}"

        $(document).ready(function () {
            let calc = new Calculator("calculator-114514");
        })
    </script>

    <div class="calculator-input-data-count">
        <div class="calculator-input-hints">数据个数</div>
        <input type="number" class="calculator-input-numbers" id="calculator-input-data-count">
    </div>

    <div class="calculator-input-datas">
        <div class="calculator-input-hints">数据</div>
        <input type="text" class="calculator-input-numbers" id="calculator-input-datas">

    </div>

    <div class="calculator-input-delta">
        <div class="calculator-input-hints">仪器误差</div>
        <input type="number" class="calculator-input-numbers" id="calculator-input-delta">

                <div class="calculator-input-radios">
                    <input type="radio" name="distribution" value="even" checked="checked"
                           id="calculator-input-delta-radio-even" class="calculator-input-radio">
                    <div class="calculator-input-radios-hint">均匀分布</div>
                    <input type="radio" name="distribution" value="nature"
                           id="calculator-input-delta-radio-nature" class="calculator-input-radio">
                    <div class="calculator-input-radios-hint">正态分布</div>
                </div>

    </div>

    <div class="calculator-input-button">

        <button class="calculator-input-button-calculate">计算</button>
    </div>

    <div class="calculator-result">
        <table class="calculator-result-table" border="1">
            <tr>
                <td>数据个数</td>
                <td id="calculator-result-cell-n"></td>
            </tr>
            <tr>
                <td>数据</td>
                <td id="calculator-result-cell-datas"></td>
            </tr>
            <tr>
                <td>算术平均值</td>
                <td id="calculator-result-cell-average"></td>
            </tr>
            <tr>
                <td>标准偏差</td>
                <td id="calculator-result-cell-variance"></td>
            </tr>
            <tr>
                <td>不确定度</td>
                <td id="calculator-result-cell-unsure"></td>
            </tr>
            <tr>
                <td>相对误差</td>
                <td id="calculator-result-cell-error"></td>
            </tr>
        </table>
    </div>
    <a href="/">返回主菜单</a>
</div>
</body>
</html>