<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>物理实验数据处理平台</title>
    <link rel="icon" href="{% static 'DataProcessing/images/icon.jpg' %}">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>

    <style>
        body {
            background-color:  rgba(72, 135, 186, 0.3);
        }
        h1 {
            font-family: 华文行楷;
            font-size: 60px;
        }

        h4 {
            font-weight: bold;
        }

        .experiment-menu-item {
            text-align: center;
        }

        .experiment-menu-item > img {
            width: 100%;
        }



    </style>

</head>
<body>


<div id="experiment-menu" class="container">

    <div class="row" style="margin-top: 20px">
        <h1 class="col-md-12" style="text-align: center">物理实验数据处理平台</h1>
        <div class="dropdown col-md-offset-10 col-md-2 col-xs-offset-8 col-xs-3">
            <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success">
                <span class="glyphicon glyphicon-wrench"></span>
                工具箱
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li>
                    <a class="experiment-menu-toolbox"
                       href="exp/calculator/">不确定度计算器</a>
                </li>
                <li>
                    <a class="experiment-menu-toolbox"
                       href="exp/figuredrawer/">绘图工具</a>
                </li>

                <li role="separator" class="divider"></li>
                <li><b>数据处理相关知识点</b></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/数据处理基本方法.pdf' %}" target="_blank">
                    数据处理基本方法
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/测量与误差.pdf' %}" target="_blank">
                    测量与误差
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/测量最佳值与随机误差.pdf' %}" target="_blank">
                    测量最佳值与随机误差
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/有效数字及其运算.pdf' %}" target="_blank">
                    有效数字及其运算
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/仪器误差.pdf' %}" target="_blank">
                    仪器误差
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/不确定度.pdf' %}" target="_blank">
                    不确定度
                </a></li>
                <li><a href="{% static 'DataProcessing/pdf/toolbox/间接测量的误差传递.pdf' %}" target="_blank">
                    间接测量的误差传递
                </a></li>
                <li>
                    <a href="{% static 'DataProcessing/pdf/toolbox/误差与有效数字测试题.pdf' %}" target="_blank">
                        误差与有效数字测试题
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row" style="margin-top: 75px">
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-electrostatic-field">
            <img src="{% static '/DataProcessing/images/electrostatic_field.png' %}" alt="">
            <h4>静电场测绘</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-viscosity-coefficient">
            <img src="{% static '/DataProcessing/images/viscosity_coefficient.png' %}" alt="">
            <h4>粘滞系数</h4>
        </div>


        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-newton-rings">
            <img src="{% static '/DataProcessing/images/netwon_rings.png' %}" alt="">
            <h4>牛顿环</h4>
        </div>

        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-rotational-inertia">
            <img src="{% static '/DataProcessing/images/torsional_pendulum.png' %}" alt="">
            <h4>扭摆实验</h4>
        </div>

        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-air-cushion">
            <img src="{% static '/DataProcessing/images/air_cushion.png' %}" alt="">
            <h4>气垫技术测量重力加速度</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-simple-pendlum">
            <img src="{% static '/DataProcessing/images/single_pendulum.png' %}" alt="">
            <h4>单摆测量重力加速度</h4>
        </div>

    </div>


</div>

<script type="module">
    import {ExperimentMenu} from "{% static 'DataProcessing/js/src/menu/zbase.js' %}"

    $(document).ready(function () {
        let menu = new ExperimentMenu("experiment-menu");
    })
</script>
</body>
</html>