<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>物理实验数据处理平台</title>
    <link rel="icon" href="{% static 'DataProcessing/images/icon.jpg' %}">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>

    <style>
        .experiment-menu-item {
            text-align: center;
        }

        .experiment-menu-item > img {
            width: 100%;
        }
    </style>

</head>
<body>


<div id="experiment-menu" class="container">

    <div class="row" style="margin-top: 20px">
        <h1 class="col-md-12" style="text-align: center">物理实验数据处理平台</h1>
        <a class="experiment-menu-toolbox col-md-offset-10 col-md-1 col-xs-offset-9 col-xs-3" href="exp/calculator/"
           style="font-size: 1em">工具箱</a>
    </div>

    <div class="row" style="margin-top: 75px">
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-electrostatic-field">
            <img src="{% static '/DataProcessing/images/electrostatic_field.png' %}" alt="">
            <h4>静电场测绘实验数据处理</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-viscosity-coefficient">
            <img src="{% static '/DataProcessing/images/viscosity_coefficient.png' %}" alt="">
            <h4>粘滞系数实验数据处理</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-air-cushion">
            <img src="{% static '/DataProcessing/images/air_cushion.png' %}" alt="">
            <h4>气垫技术测量重力加速度</h4>
        </div>

        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-newton-rings">
            <img src="{% static '/DataProcessing/images/netwon_rings.png' %}" alt="">
            <h4>牛顿环</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-simple-pendlum">
            <img src="{% static '/DataProcessing/images/single_pendulum.png' %}" alt="">
            <h4>单摆</h4>
        </div>
        <div class="col-md-4 col-xs-6 experiment-menu-item" id="experiment-menu-item-rotational-inertia">
            <img src="{% static '/DataProcessing/images/torsional_pendulum.png' %}" alt="">
            <h4>扭摆实验转动惯量的测量</h4>
        </div>

    </div>


</div>

<script type="module">
    import {ExperimentMenu} from "{% static 'DataProcessing/js/src/menu/zbase.js' %}"

    $(document).ready(function () {
        let menu = new ExperimentMenu("experiment-menu");
    })
</script>
</body>
</html>