<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{% static 'DataProcessing/css/newton_rings.css' %}">
</head>
<body>
<script type="module">
    import {NewtonRings} from "{% static 'DataProcessing/js/dist.js' %}"

    $(document).ready(() => {
        let obj = new NewtonRings("newton_rings_123456");
    });
</script>

<div class="newton-rings" id="newton_rings_123456">
    <p class="newton-rings-title">牛顿环实验数据处理</p>
    <div class="newton-rings-datainput">
        <table class="newton-ring-dateinput-table" border="1px">
            <tr>
                <td>环数</td>
                <td>左边位置<br>[mm]</td>
                <td>右边位置<br>[mm]</td>
            </tr>
            <tr>
                <td>13</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left13" value="31.501"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right13" value="27.305"></td>
            </tr>
            <tr>
                <td>14</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left14" value="31.571"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right14" value="27.235"></td>
            </tr>
            <tr>
                <td>15</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left15" value="31.650"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right15" value="27.157"></td>
            </tr>
            <tr>
                <td>16</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left16" value="31.721"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right16" value="27.074"></td>
            </tr>
            <tr>
                <td>17</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left17" value="31.792"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right17" value="27.010"></td>
            </tr>
            <tr>
                <td>18</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left18" value="31.859"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right18" value="26.943"></td>
            </tr>
            <tr>
                <td>19</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left19" value="31.930"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right19" value="26.887"></td>
            </tr>
            <tr>
                <td>20</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left20" value="31.996"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right20" value="26.818"></td>
            </tr>
            <tr>
                <td>21</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left21" value="32.058"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right21" value="26.756"></td>
            </tr>
            <tr>
                <td>22</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left22" value="32.121"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right22" value="26.691"></td>
            </tr>
            <tr>
                <td>23</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left23" value="32.180"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right23" value="26.630"></td>
            </tr>
            <tr>
                <td>24</td>
                <td><input type="number" class="newton-rings-left" id="newton-rings-left24" value="32.244"></td>
                <td><input type="number" class="newton-rings-right" id="newton-rings-right24" value="26.570"></td>
            </tr>
        </table>
    </div>
{#    <div class="newton_rings_huabu"></div>#}


    <img src="{% static 'DataProcessing/images/temp.png' %}" alt="" id="newton-rings-result-figure">
    <div class="newton-rings-result-text">
        <div class="newton-rings-result-text-item">
            <div class="newton-rings-result-text-intro">逐差法处理数据</div>
            <div class="newton-rings-result-text-data">
                <span class="newton-rings-result-item-intro">曲率半径：</span>
                <div id="newton-rings-result-zhucha-r" class="newton-rings-result-item-val"></div>
                <span class="newton-rings-result-item-intro">mm</span>
            </div>
        </div>

        <div class="newton-rings-result-text-item">
            <div class="newton-rings-result-text-intro">最小二乘法</div>
            <div class="newton-rings-result-text-data">
                <span class="newton-rings-result-item-intro">关系式：</span>
                <div id="newton-rings-result-2cheng-eq" class="newton-rings-result-item-val-long"></div>
            </div>
            <div class="newton-rings-result-text-data">
                <span class="newton-rings-result-item-intro">曲率半径：</span>
                <div id="newton-rings-result-2cheng-r" class="newton-rings-result-item-val"></div>
                <span class="newton-rings-result-item-intro" >mm</span>
            </div>
            <div class="newton-rings-result-text-data">
                <span class="newton-rings-result-item-intro">相关系数：</span>
                <div id="newton-rings-result-2cheng-rela" class="newton-rings-result-item-val"></div>
            </div>
{#            <div class="newton-rings-result-text-data">#}
{#                <span class="newton-rings-result-item-intro">标准误差：</span>#}
{#                <div id="newton-rings-result-2cheng-stde" class="newton-rings-result-item-val"></div>#}
{#                <span class="newton-rings-result-item-intro">mm</span>#}
{#            </div>#}
        </div>


    </div>


    <div class="newton-final-btn">
        <div>
            <button class="newton-rings-final-btn" id="newton-rings-final-btn-calc">处理数据</button>
            <button class="newton-rings-final-btn" id="newton-rings-final-btn-return">返回</button>
        </div>
    </div>

</div>
</body>
</html>