<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{% static 'DataProcessing/css/simple_pendlum.css' %}">
</head>
<body>
<script type="module">
    import {SimplePendlum} from "{% static 'DataProcessing/js/dist.js' %}"

    $(document).ready(() => {
        let obj = new SimplePendlum("simple-pendulm-123456");
    });
</script>
<div class="simple-pendulm" id="simple-pendulm-123456">
    <h2 class="simple-pendulum-title">单摆实验数据处理</h2>
    <div class="simple-pendulum-date">
        <p>实验数据</p>
        <table class="simple-pendulum-date-form" border="2px">
            <tr>
                <td>次数</td>
                <td>摆长（cm）</td>
                <td>50次时间t(s)</td>
            </tr>
            <tr>
                <td>1</td>
                <td><input type="number" class="simple-pendulum-length" id="simple-pendulum-length1" value="72.00"></td>
                <td><input type="number" class="simple-oendulum-cycle" id="simple-oendulum-cycle1" value="84.45"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="number" class="simple-pendulum-length" id="simple-pendulum-length2" value="77.00"></td>
                <td><input type="number" class="simple-oendulum-cycle" id="simple-oendulum-cycle2" value="87.52"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="number" class="simple-pendulum-length" id="simple-pendulum-length3" value="82.35"></td>
                <td><input type="number" class="simple-oendulum-cycle" id="simple-oendulum-cycle3" value="90.50"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="number" class="simple-pendulum-length" id="simple-pendulum-length4" value="88.05"></td>
                <td><input type="number" class="simple-oendulum-cycle" id="simple-oendulum-cycle4" value="93.68"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><input type="number" class="simple-pendulum-length" id="simple-pendulum-length5" value="94.58"></td>
                <td><input type="number" class="simple-oendulum-cycle" id="simple-oendulum-cycle5" value="97.02"></td>
            </tr>
        </table>

    </div>
    <img src="{% static 'DataProcessing/images/temp.png' %}" alt="" class="simple-pendulum-huabu"
         id="simple-pendulum-figure">
    <div class="simple-pendulum-result">
        <p class="simple-pendulum-tip">
            与上海地区标准值979.4cm/S²比较所得
        </p>
        <p>
            <span>重力加速度=</span>
            <span class="simple-pendulum-date-result" id="simple-pendulum-date-result"></span>
            <span>cm/s²</span>

        </p>
        <p>
            <span>百分误差=</span>
            <span class="simple-pendulum-date-result" id="simple-pendulum-date-error"></span>
            <span>%</span>
        </p>
        <p>
            <span>截距=</span>

            <span class="simple-pendulum-date-result" id="simple-pendulum-jieju"></span>
            <span>cm</span>
        </p>
        <p>
            <span>相关系数=</span>
            <span class="simple-pendulum-date-result" id="simple-pendulum-xgxs"></span>
        </p>
    </div>
    <div class="simple-pendulum-final-btn" align="center">

        <button class="simple-pendulum-final-operate-btn" id="simple-pendulum-final-btn2">处理数据</button>
        <button class="simple-pendulum-final-operate-btn" id="simple-pendulum-final-btn3">返回</button>

    </div>
</div>
</body>
</html>