

table td {
    font-size: large;
    text-align: center;
}

input {
    width: 7vw;
    height: 5vh;

    font-size: large;
    text-align: center;
}

/*去除箭头*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
}

#newton_rings_123456{
    margin: 0 auto;
    text-align: center
}

.newton-rings-title {
    text-align: center;
    color: white;
    background: blue;
    font-family: 楷体;
    font-weight: bold;
    font-size: 25px;
}

.newton-rings-datainput {
    display: inline-block;
}

.newton_rings_huabu {
    background: aqua;
    height: 60vh;
    width: 60vh;
    position: relative;
    left: 10vw;
    top: -15vh;
    display: inline-block;
}

.newton-ring-dateinput-table {
    text-align: center;
    font-family: 楷体;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 1vh;
    left: 0vw;
}

.newton-final-btn {
    position: relative;
    top: -5vh;
    left: -15vw;
}

.newton-rings-final-btn {
    font-family: 楷体;
    font-size: 20px;
    font-weight: bold;

}

img#newton-rings-result-figure {
    display: inline;
    position: relative;
    top: -25vh;
    left: 0vw;
    width: 30vw;
}

.newton-rings-result-text {
    position: relative;
    left: 50vw;
    top: -10vh;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.newton-rings-result-text-item {
    display: inline-block;
    margin-right: 5vw;
}


.newton-rings-result-text-intro {
    color: red;
    font-family: 楷体;
}

.newton-rings-result-item-val {
    display: inline-block;
    width: 3vw;
    color: red;
}
.newton-rings-result-item-val-long {
    display: inline-block;
    width: 12vw;
    color: red;
}