/*全局*/


table td {
    font-size: large;
    text-align: center;
}

input {
    width: 7vw;
    height: 5vh;

    font-size: large;
    text-align: center;
}

/*去除箭头*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
}

h2 {
    color: blue;
    font-family: "楷体"
}

.experiment-name-title {
    font-size: 25px;
    color: white;
    background: blue;
    font-family: "楷体";
    text-align: center;
}

.part-title {
    font-size: 20px;
    font-family: "楷体";
    color: red;
}


.result-title {
    color: #ff0b9d;
    font-family: "楷体";
    font-size: 20px;
    font-weight: bolder;
}

button {
    width: 10vw;
    height: 5vh;
}


/*菜单页面*/

.experiment-menu-title {
    text-align: center;
    font-size: larger;
    position: relative;
    top: 5%;
}

.experiment-menu-toolbox {
    position: relative;
    top: 1%;
    left: 85%;
    font-size: medium;
}

.experiment-menu {
    height: 100vh;
    width: 100vw;
}

table.experiment-menu-table {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.experiment-menu-item > img {
    width: 20vw;
}

.experiment-menu-item > div {
    font-family: 宋体;
    font-size: 3vh;
}

td.experiment-menu-item {
    padding: 3vw;
}

/*静电场*/


.electrostatic-field-result-cell {
    width: 7vw;
    height: 4vh;
}


.electrostatic-field-figure {
    position: absolute;
    left: 63vw;
    top: 15vh;
    height: 30vw;
    width: 30vw;

    background-color: red;
}

.electrostatic-field-figure > canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.electrostatic-field-datainput-cell-red {
    color: red;
}

.electrostatic-field-datainput-cell-blue {
    color: blue;
}

#electrostatic-field-result-data1-x0 electrostatic-field-result-data1-y0 electrostatic-field-result-data1-r {
    color: red;
}

#electrostatic-field-result-data3-x0 electrostatic-field-result-data3-y0 electrostatic-field-result-data3-r {
    color: blue;
}

.electrostatic-field-button-group {
    margin-top: 1vh;
}

/*viscosity coefficient*/

.viscosity_coefficient_figure {
    position: absolute;
    top: 100px;
    right: 250px;
}


.first-list {
    color: blue;
}

.first-line {
    color: blue;
}


/*气垫实验*/
.air-cushion-title {
    font-family: "楷体";
    font-size: 20px;
    color: white;
    background: blue;
    text-align: center;
}

.air-cushion-date {
    width: 100vw;
}

.air-cushion-date-pre {
    text-align: center;
}

.air-cushion-date-result {
    position: absolute;
    left: 22vw;
    top: 300px;
}

.air-cushion-final-result {
    position: absolute;
    left: 22vw;
    top: 400px;
}

.air-cushion-operate-btn {
    position: absolute;
    top: 510px;
    left: 22vw;
}

#air-cushion-result {
    color: red;
    font-family: "楷体";
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 22vw;
    top: 240px;
}

.worth-notice {
    color: red;
    font-size: 20px;
    font-weight: bolder;
    font-family: "楷体";
}

/*牛顿环*/
.newton-rings-title {
    color: white;
    background: blue;
    font-size: 25px;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
}

.newton-rings-final-btn {
    font-size: 20px;
    font-family: 楷体;
    font-weight: bold;
}


/*单摆*/
.simple-pendulum-title {
    color: white;
    background: blue;
    font-size: 25px;
    font-family: "楷体";
    text-align: center;
}

.simple-pendulum-date {
    border: 1px solid red;
    width: 30vw;
    position: absolute;
    left: 10vw;
}

.simple-pendulum-date-form {
    font-size: 20px;
    font-family: "楷体";
    font-weight: bold;
    color: blue;
}

.simple-pendulum-date > p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 楷体;
}

.simple-pendulum-result {
    width: 30vw;
    border: 1px red solid;
    font-family: 楷体;
    font-size: 20px;
    color: blue;
    position: absolute;
    left: 10vw;
    top: 350px;
}

.final-operate-btn {
    font-size: 20px;
    font-family: 楷体;
}

.final-btn {
    position: absolute;
    top: 520px;
    left: 40vw;
}

/*扭摆*/
#rotational-inertia-title {
    text-align: center;
    color: white;
    background: blue;
    font-size: 25px;
    font-family: "楷体";
}

.torsional-pendulum-header {
    color: red;
    font-family: "楷体";
    font-size: 25px;
    font-weight: bolder;
}

.rotational-inertia-test {
    width: 100vw;
}

.torsional-pendulum-date {
    width: 100vw;
    text-align: center;
    font-family: "楷体";
    font-size: 20px;
    font-weight: bold;
}

.empty-data {
    background: #686868;
}

.final-contre-btn {
    font-size: 20px;
    font-family: "楷体";
    font-weight: bold;
}

.parallel-axis-date, .pre-measured-value {
    font-family: "楷体";
    font-weight: bold;
}